@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display-swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

.btn{
    display: inline-block;
    background:skyblue;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover{
    background: #83b1f7;
}

nav ul{
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 30px;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    max-width: 1300px;
    margin: auto;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;    
}

.col-2 img{
    max-width: 150%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.header{
    background: radial-gradient(#fff,#ffd6d6);
}

.header1{
    background: white;
}

.header .row{
    margin-top: 305px;
}

.header .row1{
    margin-top: 300px;
    margin: auto;
}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
}

.title::after{
    content: '';
    background: #020100;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.rating .fa{
    color:rgb(170, 1, 1);
}

.col-4:hover{
    transform: translateY(-10px);
}

.form{
    width: 200%;
    max-width: 1300px;
    background-color: rgb(214, 242, 253);
    border-radius: 30px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form{
    background-color:#ffd6d6;
    position: relative;
}

.contact-form:before{
    content: "";
    position: absolute;
    width: 46px;
    height: 46px;
    background-color: #ffd6d6;
    transform: rotate(45deg);
    top: 50px;
    left: -23px;
}

form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.input-container{
    position: relative;
    margin: 1rem 0;
}

.input{
    width: 100%;
    outline: none;
    border: 2px solid black;
    background: none;
    border-radius: 30px;
    padding: 0.6rem 1.2rem;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    transition: 0.5s;
}

textarea.input{
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.input-container label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: black;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input-container.textarea label{
    top: 1rem;
    transform: translateY(0);
}

.input-container span{
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

.input-container span:before,
.input-container span:after{
    content: "";
    position: absolute;
    width: 30%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #ffd6d6;
    top: 50%;
    transform: translateY(-50%);
}

.input-container span:before{
    left: 50%;
}

.input-container span:after{
    right: 50%;
}

.input-container.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after{
    width: 50%;
    opacity: 1;
}

.icon{
    width: 28px;
}

.contact-info{
    padding: 2.3rem 2.2rem;
    position: relative;
}

.text{
    color: #333;
    margin: 1.5rem 0 2rem 0;
    font-size: 20px;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.information{
    display: flex;
    color: #555;
    margin: 1rem 0;
    align-items: center;
    font-size: 1rem;
    padding: 1px;
}

p{
    margin: 10px;
}

.social-media{
    padding: 2rem 0 0 0;
}

.social-icons{
    display: flex;
    margin-top: 0.5rem;
}

a i{
    margin: 10px;
}

.social-icons a{
    width: 35px;
    height: 35px;
    border: 5px;
    border-radius: 30px;
    background: linear-gradient(90deg, rgb(60, 132, 160), #ffd6d6);
    color: black;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
    margin: 10px;
}

.social-icons a:hover{
    transform: scale(1.05);
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec{
    margin-right: 30px;
}

footer .container .sec.aboutus{
    width: 30%;
}

footer .container h2{
    position: relative;
    margin: 10px;
}

footer .container h2:before{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 70px;
    height: 2px;
    background: skyblue;
}

footer p{
    color: black;
}

.sci{
    margin-top: 20px;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    border-radius: 30px;
    text-decoration: none;
}

.sci li a:hover{
    background: #ffd6d6;
}

.quickLinks{
    position: relative;
    width: 15%;
}

.quickLinks ul li{
    list-style: none;
    margin: 10px;
}

.quickLinks ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-bottom: 8px;
    display: inline-block;
}

.quickLinks ul li a:hover{
    color: skyblue;
}

.contactUs{
    position: relative;
    width: 20%;
}

.contactUs ul li{
    list-style: none;
    margin: 10px;
}

.contactUs ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-bottom: 8px;
    display: inline-block;
}

.contactUs ul li a:hover{
    color: skyblue;
}

.sec.contactUs li a{
    display: flex;
    color: #555;
    margin: 1.5rem 0;
    align-items: center;
    font-size: 1rem;
    padding: 10px;
}

.sec.contactUs li a img{
    height: 40px;
    width: 35px;
}
